#main-container {
    display: flex;
    width: 100%;
}
#main-contents-container {
    width: calc(100% - 300px);
    padding: 20px;
    box-sizing: border-box;
}
#menu-container {
    width: 300px;
    background-color: #e0e0e0;
    padding: 20px;
    box-sizing: border-box;
}

#user-info {
    font-size: 24px;
}
#user-info img {
    border-radius: 50%;
}
#username {
    display: inline-block;
    width: 150px;
    font-weight: bold;
}
#username-body {
    display: inline;
}
#comment {
    display: inline-block;
    width: 150px;
    font-weight: bold;
}
#comment-body {
    display: inline;
}

.article {
    width: 80%;
    padding: 20px;
    border-radius: 10px;
    background-color: #c2e9ff;
}
.article:nth-child(n+1) {
    margin-top: 20px;
}
.article-info {
    font-size: 18px;
    border-spacing: 8px 10px;
}
.article-info th {
    text-align: right;
    border-left: solid 5px #3c7c91;
    padding-left: 5px;
}
.article-info tr:nth-child(n+1) {
    margin-top: 10px;
}
.article-footer {
    margin-top: 20px;
}
.article .go {
    margin-top: 20px;
}
.article-edit {
    cursor: pointer;
    font-weight: bold;
    color: #6ba6ff;
    float: right;
    margin-right: 20px;
    text-align: center;
    width: 48px;
    border-radius: 5px;
    background-color: #ffffff;
}
.article-delete {
    cursor: pointer;
    font-weight: bold;
    color: #6ba6ff;
    float: right;
    text-align: center;
    width: 48px;
    border-radius: 5px;
    background-color: #ffffff;
}
.no-image {
    display: flex;
    width: 320px;
    height: 240px;
    font-size: 32px;
    background-color: #f0f0f0;
    justify-content: center;
    align-items: center;
}
