form[name="formPost"] label {
    display: inline-block;
    font-weight: bold;
    font-size: 18px;
    margin-top: 10px;
}
form[name="formPost"] fieldset {
    display: inline-block;
}
form[name="formPost"] input[name^="formPostPostal"] {
    width: 120px;
}
#search-sAddress-error {
    color: #ff0000;
}
#formPostSubmit {
    margin-top: 40px;
}