main h2:nth-child(n+1) {
    margin-top: 50px;
}

.articles {
    display: flex;
    align-items: flex-start;
    box-sizing: border-box;
    padding: 20px 0;
    overflow: scroll;
    overflow-y: hidden;
    align-items: center;
}
.articles::-webkit-scrollbar {
    height: 15px;
}
.articles::-webkit-scrollbar-track {
    background: #fff;
    border: none;
    border-radius: 10px;
    box-shadow: inset 0 0 2px #777; 
}
.articles::-webkit-scrollbar-thumb {
    background: #ccc;
    border-radius: 10px;
    box-shadow: none;
}
.article {
    width: 100%;
    flex: 0 0 300px;
    margin-right: 40px;
    overflow: hidden;
    border-radius: 10px;
    background-color: #ffffff;
    filter: drop-shadow(5px 5px 5px);
}
.article:first-child {
    margin-left: 40px;
}
.article-header {
    min-width: 300px;
    width: 300px;
    height: 300px;
    background-color: #f0f0f0;
}
.article a {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
}
.article-info {
    width: 100%;
    height: 100%;
    padding: 10px;
    box-sizing: border-box;
    background-color: #d3d3d3;
}
.no-image {
    font-size: 32px;
}

.more {
    display: flex;
    flex: 0 0 200px;
    height: 200px;
    margin-right: 40px;
    overflow: hidden;
    border-radius: 50%;
    font-size: 32px;
    background-color: #c2e9ff;
    filter: drop-shadow(5px 5px 5px);
    justify-content: center;
    align-items: center;
}
.more a {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
}