//全体エリア
#wrapper {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    //左固定エリア
    #fixed-area {
        position: -webkit-sticky;
        position: sticky;
        top: 0;
        width: 20%;
        height: 100vh;
    }
    //右エリア
    #container {
        width: 80%;
        display: flex;
        flex-flow: column;
        main {
            padding: 5vh 5vw 10vh;
            background-color: #fff7f7;
            min-height: 100vh;
        }
    }
}