    * {
        margin: 0;
        padding: 0;
    }
    
    #container {
        h2 {
            text-align: center;
        }
        height: 100vh;
        background-color: #fff7f7;
        header {
            padding: 3vh 5vw;
            a {
                color: #fff;
                text-decoration: none;
            }
        }
        main {
            display: flex;
            justify-content: center;
            form {
                display: flex;
                flex-flow: column;
                align-items: baseline;
                background-color: #ffffff;
                div {
                    display: flex;
                    flex-direction: row
                }
            }
        }
    }