* {
    margin: 0;
    padding: 0;
}

#container {
    height: 100vh;
    position: relative;
    background-color: #204969;
    header {
        padding: 3vh 5vw;
        a {
            color: #fff;
            text-decoration: none;
        }
    }
    main {
        text-align: center;
        a {
            color: #fff;
            text-decoration: none;
        }
        form {
            display: flex;
            flex-flow: column;
            align-items: center;
            margin-top: 5vh;
            fieldset {
                background-color: #fff;
            }
        }
    }
}