* {
    margin: 0;
    padding: 0;
}

#wrapper {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    // 左
    #fixed-area {
        position: -webkit-sticky;
        position: sticky;
        top: 0;
        width: 20%;
        height: 100vh;
        background-color: #204969;
        header {
            height: 100vh;
            display: flex;
            flex-flow: column;
            align-items: center;
            text-decoration: none;
            color: #fff;
            a {
                height: 15vh;
                color: #fff;
                text-decoration: none;
                h1 {
                    padding: 3vh 0;
                }
            }
            div {
                height: 85vh;
                ul {
                    list-style-type: none;
                    a {
                        text-decoration: none;
                        li {
                            padding: 3vh 0;
                        }
                    }
                }
            }
        }
    }
    //　右
    #container {
        width: 80%;
        background-color: #fff7f7;
        display: flex;
        flex-flow: column;
        main {
            padding-top: 5vh;
            padding-left: 5vw;
            padding-right: 5vw;
            #main-container {
                #map {
                    background-color: #fff;
                }
                #cotainer-latest-articles {
                    background-color: #fff;
                    margin-top: 5vh;
                    .articles {
                        display: flex;
                        justify-content: space-around;
                    }
                }
                #cotainer-favorite-articles {
                    background-color: #fff;
                    margin-top: 5vh;
                    .articles {
                        display: flex;
                        justify-content: space-around;
                    }
                }
                .test-space {
                    height: 100vh;
                }
            }
        }
        footer {
            background-color: #fff;
            bottom: 0;
            width: 80vw;
            height: 25vh;
            margin-top: 10vh;
        }
    }
}

.more {
    display: block;
}