h2:nth-child(n+1) {
    margin-top: 40px;
}

#article:nth-child(n+1) {
    margin-top: 20px;
}
#article-info {
    font-size: 18px;
    border-spacing: 8px 10px;
}
#container-info th {
    text-align: right;
    border-left: solid 5px #3c7c91;
    padding-left: 5px;
}
#container-info img {
    width: 400px;
}

#button-post-comment {
    display: flex;
    position: fixed;
    width: 180px;
    height: 180px;
    right: 20px;
    bottom: 20px;
    border-radius: 50%;
    background-color: #87cefa;
    color: #ffffff;
    font-size: 32px;
    justify-content: center;
    align-items: center;
}
#button-post-comment:hover {
    cursor: pointer;
}

button[data-push="true"] {
    background-color: lightskyblue;
}

#post-comment-container {
    display: none;
    position: fixed;
    width: 320px;
    height: 340px;
    top: 0;
    left: 0;
    padding: 10px;
    background-color: white;
    filter: drop-shadow(6px 6px 10px black);
    border-radius: 5px;
    z-index: 999;
}
form[name="formComment"] label {
    display: inline-block;
    margin-top: 10px;
    font-weight: bold;
}
#textarea-form-comment {
    font-size: 20px;
    margin-top: 5px;
}
#button-form-comment-cancel {
    cursor: pointer;
    font-weight: bold;
    color: #6ba6ff;
}
#button-form-comment-submit {
    cursor: pointer;
    font-weight: bold;
    color: #6ba6ff;
    float: right;
}

.comment {
    width: 80%;
    padding: 20px;
    border-radius: 10px;
    background-color: #c2e9ff;
}
.comment:nth-child(n+1) {
    margin-top: 20px;
}
.user-icon {
    border-radius: 50%;
}
.username {
    display: inline-block;
    font-size: 24px;
}
.comment-body {
    font-size: 20px;
    width: 100%;
    margin-top: 20px;
    background-color: #ffffff;
}
.comment-image {
    width: 50%;
    margin-top: 20px;
    clear: both;
}
.no-image {
    display: flex;
    width: 400px;
    height: 300px;
    font-size: 48px;
    background-color: #f0f0f0;
    justify-content: center;
    align-items: center;
}

#button-container {
    margin-top: 20px;
}